<div class="row text-center justify-content-center"></div>

<div class="col-md-12 col-lg-12 mb-6 mb-md-0 position-relative home-title ">
    <h1 class="row py-md-5 text-center justify-content-center">About</h1>
    <p class="fs-8 mb-4 d pmagine">
        In comparison to traditional paper note-taking, digital note-taking allows you to access your notes anywhere you have an internet connection! You never have to fear forgetting your notes at a coffee shop and you can always take ALL your notes with you without adding weight to your bag (your back is already thanking you)!

    </p>

    <p class="fs-8 mb-4 d pmagine">
    With 2nd Brain, you can keep them on your laptop, desktop, tablet, or smartphone anywhere you go — even better, keep them in the cloud. 

    </p>
    <p class="fs-8 mb-4 d pmagine">
    2nd Brain is a simple-to-use free note-taking app. You don't have to struggle to remember anything, just write it down and you can come back whenever you need the information.
    </p>

    <p class="fs-8 mb-4 d pmagine">
    You have to fly out for a business meeting and don’t want to pack a stack of notes. 2nd Brain is available anywhere and anytime. Or you suddenly get a great idea for your upcoming project while at a coffee shop. You don't have to wait until you're back at your desk to jot it down. Pull out your phone or laptop and type it out.
    </p>
    <p class="fs-8 mb-4 d pmagine">
    Since most people already carry some type of electronic device with them at all times, 2nd Brain make sense for anywhere-and-everywhere access to notes.

    </p>
    </div>
</div>